.left-right-0{
    clip-path: polygon(
        0% 0%, 93% 0%, 
        93% 30%, 
        100% 50%, 
        93% 70%, 
        93% 100%, 0% 100%
    )
}

.left-right{
    clip-path: polygon(0% 0%, 93% 0%, 93% 30%, 100% 50%, 93% 70%, 93% 100%, 0% 100%, 0% 70%, 7% 50%, 0% 30%)
}

.left-down{
    clip-path: polygon(
        /*0% 0%, 93% 0%, 93% 30%, 100% 50%, 93% 70%, 93% 100%, 0% 100%,
        70% 93%, 50% 100%, 30% 93%, 0% 93%,
        */
        0% 0%, 100% 0%, 
        100% 100%, 0% 100%, 
        0% 70%, 7% 50%, 0% 30%
    );
    // &::before{
    //     position: absolute;
    //     content: "";
    //     bottom: 0%;
    //     left: 50%;
    //     transform: translate(-50%, 50%) rotate(45deg);
    //     height: 50px;
    //     width: 50px;
    //     background-color: #F2F2F4;
    //     z-index: 2;
    // }

}
.in{
    clip-path: polygon(
        /*0% 0%, 93% 0%, 93% 30%, 100% 50%, 93% 70%, 93% 100%, 0% 100%,
        */
        0% 0%, 100% 0%, 100% 100%, 0% 100%,
        0% 70%, 7% 50%, 0% 30%
    ) 
}

.right-right{
    clip-path: polygon(
        7% 0%, 100% 0%, 
        100% 30%, 93% 50%, 100% 70%, 
        100% 100%, 7% 100%,
        7% 70%, 0% 50%, 7% 30%
    )
}

.right-last{
    clip-path: polygon(
        7% 0%, 100% 0%,
        100% 100%, 7% 100%,
        7% 70%, 0% 50%, 7% 30%
    );
}

.right-start{
    clip-path: polygon(
        0% 0%, 100% 0%, 
        100% 30%, 93% 50%, 100% 70%, 
        100% 100%, 0% 100%
    )
}